<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matthew.fitawesome">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"

    android:theme="@style/ourTheme">
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExerciseLog" />
        <activity android:name=".CreateAnAccount" />
        <activity android:name=".exerciseDetails"></activity>
        <activity android:name=".workoutView"></activity>
        <activity android:name=".programOptions"></activity>
        <activity android:name=".enterWorkout"></activity>
        <activity android:name=".WeekDay"></activity>
    </application>

</manifest>